/* line 1, albums.css.scss */
.inner-box {
  width: auto;
}

/* line 4, albums.css.scss */
.inner-box a {
  text-transform: none;
  color: #3e1d1e;
  text-transform: none;
  padding-right: 0.4em;
  font-weight: 600;
}
/* line 10, albums.css.scss */
.inner-box a:hover {
  color: #cb8f91;
}

/* line 14, albums.css.scss */
.section-title {
  font-size: 1.4em;
  clear: left;
  padding: 0 0 1em;
}

/* line 19, albums.css.scss */
.item {
  margin: 0 1em 1em 0;
  float: left;
  background: #fff;
  width: 16em;
}
/* line 24, albums.css.scss */
.item a {
  color: #3e1d1e;
  text-transform: none;
  padding-right: 0.4em;
  font-weight: 600;
}
/* line 29, albums.css.scss */
.item a:hover {
  color: #cb8f91;
}

/* line 34, albums.css.scss */
.image-box {
  height: 170px;
  width: 256px;
  overflow: hidden;
}
/* line 39, albums.css.scss */
.image-box .source {
  overflow: hidden;
  width: auto;
  margin: 0 auto;
  width: 100%;
}
/* line 44, albums.css.scss */
.image-box .source img {
  width: 100%;
}

/* line 49, albums.css.scss */
.info {
  padding: 0.5em;
  height: 4.2em;
}

/* line 53, albums.css.scss */
.item-links {
  font-size: 0.83em;
  float: right;
  clear: left;
  line-height: 2.6em;
}

/* line 59, albums.css.scss */
.title {
  display: inline;
  font-variant: small-caps;
  font-size: 1.4em;
}

/* line 64, albums.css.scss */
.description {
  font-size: 0.8em;
  color: #949494;
}
/* line 67, albums.css.scss */
.description p {
  float: left;
}
