/* line 4, dashboard.css.scss */
body {
  background-color: #f3f3f3;
  font: 1em "Open Sans";
  font-weight: 100;
}

/* line 10, dashboard.css.scss */
a {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  -moz-transition: color 0.2s;
}
/* line 21, dashboard.css.scss */
a:active {
  color: #fff;
}
/* line 24, dashboard.css.scss */
a:visited {
  color: white;
}
/* line 27, dashboard.css.scss */
a:hover {
  color: #b3b3b3;
}

/* line 31, dashboard.css.scss */
.header {
  position: fixed;
  z-index: 30;
  width: 100%;
  background: #fff;
  /*fonts*/
}

/* line 38, dashboard.css.scss */
.header_content {
  font-size: 1.05em;
  display: block;
  padding: 1.2em;
  line-height: 0.9em;
}
/* line 43, dashboard.css.scss */
.header_content ul > li {
  padding: 0 1em 0 1em;
  float: left;
  display: block;
}

/* line 49, dashboard.css.scss */
.page_name {
  float: left;
}

/* line 52, dashboard.css.scss */
.navbar {
  float: right;
  display: inline-block;
}

/* line 56, dashboard.css.scss */
.sidebar {
  top: 3.5em;
  bottom: 3.5em;
  position: fixed;
  width: 15em;
  background: #3476A1;
  height: 100%;
}

/* line 64, dashboard.css.scss */
.sidebar_content {
  float: right;
  margin-top: 2em;
  padding: 0 2.5em;
}
/* line 68, dashboard.css.scss */
.sidebar_content ul > li {
  text-align: right;
  padding: 0.6em;
}
/* line 72, dashboard.css.scss */
.sidebar_content .active-menu a {
  color: #fd9320;
}
/* line 74, dashboard.css.scss */
.sidebar_content .active-menu a:hover {
  color: #cf6c02;
}
/* line 78, dashboard.css.scss */
.sidebar_content .highlight_menu {
  color: #fed09e;
}
/* line 80, dashboard.css.scss */
.sidebar_content .highlight_menu:hover {
  color: #b3b3b3;
}

/* line 85, dashboard.css.scss */
.content {
  top: 2em;
  font: 1em "Open Sans";
  left: 15em;
  padding: 3em;
  position: relative;
}

/* line 92, dashboard.css.scss */
.flash_msg {
  width: 100%;
  padding: 0.5em;
  background: RGBA(72, 206, 67, 0.5);
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 40;
  font-weight: 700;
  color: #4a0a12;
}

/* line 104, dashboard.css.scss */
.alert {
  color: #FD9320;
}

/* line 107, dashboard.css.scss */
#return_link {
  color: #FD9320;
}
/* line 109, dashboard.css.scss */
#return_link:hover {
  color: #fec485;
}
