/* line 1, edit.css.scss */
label, img {
  float: left;
  clear: both;
  color: #9f9f9f;
}

/* line 6, edit.css.scss */
img {
  padding: 0.5%;
}

/* line 9, edit.css.scss */
input, label, textarea {
  color: #2c2c2c;
  padding: 0.9% 0;
}

/* line 13, edit.css.scss */
.input {
  background: #fff;
  border: 1px solid #d2d2d2;
  float: left;
  clear: both;
}

/* line 19, edit.css.scss */
input, textarea {
  padding: 1em;
  clear: both;
  float: left;
}

/* line 24, edit.css.scss */
input[type="submit"] {
  background: #fff;
  border: 1px solid #d2d2d2;
}

/* line 28, edit.css.scss */
input[type="file"] {
  padding: 0;
  margin: 1em 0;
}
