<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'fact' %>
<% end %>
<article class="family article">
    <section>
        <h1>Awesome Facts About Bulldogs!</h1>
            <h3 style="text-align: center;">Their Origin</h3>
            <p>
                The Bulldog is believed to have its origin in a long-extinct species known variously as the lalaunt, alaune, or allant.  Originally, the breed was referred to as a bonddoggees or bolddogges.
            </p>
            <h3 style="text-align: center;">Breed Facts</h3>
            <p>
                The Bulldog is a medium-sized dog that weighs about 55 pounds and stands about 15 inches at the shoulder.  Not your typical lap dog, though they would like to be.  They are affectionate and loyal, and they thrive best when treated as members of the family.
            </p>
            <h3 style="text-align: center;">More Info</h3>
            <p>
                Their coat is short, smooth, and glossy.  Shedding occurs with changes in the seasons and is quite common during the spring and fall.  Frequent bathing is unnecessary if the coat is brushed frequently to remove dead hair.  The color may be brindle, fawn, red, a piebald of one of these colors, or white.
            </p>
    </section>
</article>