            <% content_for :stylesheets do %>
                    <%= stylesheet_link_tag 'about' %>
                <% end %>
                <div class="content">
                    <article class="process article">
                        <section>
                            <h1>General Info</h1>
                            <p>
                                <ul>
                                    <li>All of our pups are American Kennel Club registered.</li>
                                    <li>All of our pups come from champion bloodlines, from both dam and sire. </li>
                                    <li>As a service to you, all of our puppies have already received all necessary immunizations for the first year of life (at 5 and 8 weeks old). We worm all puppies every two weeks beginning when the puppy is two weeks old. </li>
                                    <li>All puppies come with immunization records and a certificate of health from a veterinarian. </li>
                                </ul>
                            </p>
                        </section>
                    </article>
                    <article class="shipping article">
                        <section>
                            <h1>Shipping Details</h1>
                            <p>
                                <ul>
                                    <li>Shipping is available to anywhere in the United States.</li>
                                    <li>Ground delivery to most states costs $175</li>
                                    <li>Delivery by air to most states costs $275. A microchip ($35) is <b>required</b> for air delivery.</li>
                                    <li>Shipping costs include transportation to the airport, the puppy's individual crate, and food and water (so that the puppy will have a pleasant trip!</li>
                                </ul>
                            </p>
                        </section>
                    </article>