/* line 1, contact.css.scss */
.contact_menu {
  color: #f15a24 !important;
}

/* line 4, contact.css.scss */
.orange-btm {
  position: relative;
}

/* line 7, contact.css.scss */
.main-container {
  margin: 0;
  padding: 0;
}

/* line 11, contact.css.scss */
.form {
  padding: 0 3em 0 0;
  float: left;
  border-right: 1px solid #cccccc;
}

/* line 16, contact.css.scss */
.left {
  float: left;
}

/* line 19, contact.css.scss */
.field {
  margin: 10px;
  float: left;
  clear: both;
}
/* line 23, contact.css.scss */
.field label {
  float: left;
  clear: both;
  color: #232323;
  font-family: 'Arvo';
  font-size: 1.3em;
}
/* line 30, contact.css.scss */
.field input {
  width: 200px;
}
/* line 33, contact.css.scss */
.field input, .field textarea {
  font-family: 'Open Sans';
  font-size: 0.7em;
  padding: 15px;
  background: #fff;
  border: 1px solid #cccccc;
}

/* line 41, contact.css.scss */
.submit input {
  background: #fff;
  border: 1px solid #cccccc;
  float: left;
  font-size: 1em;
  clear: both;
  width: auto;
  -moz-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 52, contact.css.scss */
.submit input:hover {
  background: #e6e6e6;
}

/* line 56, contact.css.scss */
.desc {
  clear: none;
}

/* line 59, contact.css.scss */
.right {
  float: left;
  padding: 0 15px;
}

/* line 63, contact.css.scss */
.top {
  padding: 0 0 3em 0;
}

/* line 66, contact.css.scss */
.bottom {
  border-top: 1px solid #cccccc;
  float: left;
  clear: both;
  text-align: center;
  width: 100%;
  padding: 3em 0;
}

/* line 74, contact.css.scss */
.error_messages {
  color: red;
}
