/* ====== CSS Styles ==================================================
   ========================================================================== */
/* line 3, home.css.scss */
.home_menu {
  color: #f15a24 !important;
}

/* line 6, home.css.scss */
.body-img {
  position: relative;
  overflow: hidden;
  display: block;
  width: 26%;
  min-width: 250px;
  float: left;
  height: 200px;
  background: #000000;
  border: 20px solid #e9e9e9;
  box-shadow: 0px 0px 0 1px #d2d2d2;
}

/* line 18, home.css.scss */
.back-img {
  width: 100%;
  position: relative;
}

/* line 22, home.css.scss */
.body-img-desc {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: 0;
  position: absolute;
}

/* line 28, home.css.scss */
.desc-text {
  position: relative;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
/* line 33, home.css.scss */
.desc-text h1 {
  font-family: "Arvo", sans-serif;
  font-size: 1.5em;
  margin: 0.2em;
}
/* line 38, home.css.scss */
.desc-text p {
  font-size: 1em;
  margin: 0.2em;
}

/* line 43, home.css.scss */
.top {
  border-bottom: 1px solid #d5d5d5;
  margin: 5% 0 5% 0;
  padding-bottom: 5%;
}

/* line 48, home.css.scss */
.family {
  float: left;
  width: 70%;
  font-size: 1.2em;
  font-family: 'Open Sans';
}
/* line 53, home.css.scss */
.family section {
  padding: 0 10% 0 10%;
}
/* line 56, home.css.scss */
.family h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-top: 0;
  text-align: center;
  color: #F15A24;
}
/* line 63, home.css.scss */
.family p {
  text-indent: 30px;
}

/* line 67, home.css.scss */
.title {
  text-align: center;
  color: #F15A24;
  margin: 0 auto;
}
/* line 71, home.css.scss */
.title h1 {
  font-size: 2em;
  margin: 1% 0 2% 0;
  line-height: 1.2em;
}

/* line 77, home.css.scss */
.main-article {
  padding: 4% 0;
  clear: both;
}

/* line 81, home.css.scss */
.dogs {
  margin: 0 auto;
  position: relative;
  display: block;
}

/* line 86, home.css.scss */
.other-dog {
  padding: 2em;
  float: left;
  display: block;
  position: relative;
}
/* line 91, home.css.scss */
.other-dog h2 {
  width: 200px;
  color: #000;
  margin: 10px 0;
  text-align: center;
}
/* line 97, home.css.scss */
.other-dog p {
  width: 200px;
  text-align: center;
  font-size: 1em;
  margin: 0;
}

/* line 104, home.css.scss */
.small-dog-cont {
  margin: 0 auto;
  height: 110px;
  width: 110px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
/* line 111, home.css.scss */
.small-dog-cont .small-dog {
  width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
